body{
    background: black;
}
.barra_ini{
    background: white;
    list-style: none;
    padding: 0;
    width: 1000px;
}
.barra_ini li{
    display: inline-block;
}
.barra_ini li a{
    color: black;
    text-decoration: none;
    float: right;
    padding: 20px;
}
.barra_ini li a:hover{
    background: green;
}

#presentacion_pag{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAAC+CAMAAAARDgovAAABXFBMVEX39/cDzqQzMzNUU1P/T0kAwOgwMDBTUlL///9PTk4A0qcAw+w0NDRAQEBLSkoAy53/+fs6OjpDQkLW1tYAsYwxLS5BQUElJSU0JysfHx8qKioA1qo0ICcyKSzt7e0AMDHS0tLm5ube3t4XFxcAtI7Gxsb/aFsxOznvTUewsLCDg4MxLSszJiG9vb2QkJD8qxBOg5+96t5J1bN+3sUeMDHeSkVRNjUYpYU1HSUpMDCjQT7RSEO0Q0B4eHh5OzkUMTE1IhoQqcsfhp8Ymrg2HR0rWWVjY2NitqQdKTQbhWzj8++k5dSV4s0qYlQndGGSPjwdl3stUUiAPDokdopiODcwREo2HA42HhKhoaFjTS7QkBstS0MSmHq66t1m2bwwQT2xQz8obFxdODcnanssVF4djqlPeG0VoMAiFhEMDAw/WVNWlolPQi+seSOYbSZ9XSqiTkfEV05Fan6ay70GO1OmAAAQ80lEQVR4nO2di1fa2BbGJeghQBJJIAIKaguOD7D32sYHvsBnRavVWq0zdto6rbftdO7Mvb3//1r3vPLgEUDNOSGzuteajoM6kB977+/bOwkdCAUthg8H2ITfB3bneJr4QQLH8NEPEiSGGXEIHol3rFIiaCSGF36QoMEMRNBIvPhBggQzMxE4EszMRNBIMOyXASPBsF8GiwQ7fxk0EkxTIkgkhhlKaLBIhFhyCBIJxikRIBKMUyI4JFinRHBIsE6JwJBg6yWCRIKtlwgQCaYTR6BIsBxCA0WC5V4iWCSesU+JgJBgzyEYJIZ/5ZASgSDBoV0GgwSPdhkIEuzdZVBI8KmNfiIRQzEWi4XgH46HOdVGX5CgCIrLp/Xj93ouM31WL1ow+OiG3yRoEkAEJ8fvM7lMumIYhiQYxmjuenmM/Ay7c+N9QQIjGAsRBLlcLpPXdaGyubq2ODMIY/HDkpE7C+G04MWBNwlMgCKYXqEIVFlTomHNWB+0Y22pkk/FYJPglhLcSJgI6idnwkouYyOIhEkolZeDznhZXUnxElA+JBwIdIIASCQLGiNa2WwgMfihmucxeHEgQXpB6m395iyT64AgHMFpEQESqgpnVhj7YqBJEEUIpU7rN9cIQR4jGFGUSAuCqKLJqgA0/F9CFfbKyqoDxVJhniMKbwnEYB2kkC0wEaiq1gEBAAIKGT+oVmcGX1acSbFYVYNFwkRAbUGutRu6IaCh4u/JBqSA9WNmlfL4LcsxKR6KwNLELggURVOlZgRm4B+xZHTGMCbIl+vGBjcQ9yThtAUEAXBBAJNgxB0BCRBpkNF1Q6A6MlNVHvcrCYQgRjRRyjgFoR0CuRsCk0S0QUZnJioTtHEa2cm+I0EQYE2UOmsiQQB6QWCSUIiMLpmd8hUsjlfGa9woxvuIBOwGGMG10COCXglYQWQUVBGFzU08e6xXBWN18FV29lHfkIjFlm+klV0YZaGTLbgXAhq2jA5WKsaSSeLl4KrxhFuj6MZh7K0EGVx8PL/d2i5rvWjiPYLIqApldGZCEAxiqyakmcE1Y65PSMRCZyu1vZ2hOIrPZdVGMOIJAjNsGd2sTkAJQdP5DPZW+8m+IBEr6rsXW/H4EI6tmkQs0F26YU/hlNG1RYhjghoKKKN9QSJWzNQ+mhxglOh75ykFTKJRRhdhieimjCZ5iUfHnJiundschuIXJfLeeZsQgiWjlSXLUCAJJX57qg9IjJ3s7pkgUGbE90rkvfOchFNGycbq9Qz5iqOMdiBRXClZ6bBVutiOn5eoBfKchENGG2PVuPKfxNjN7q1dG0g8bqmMek/CltGmWOcnox1yIlcaaggoo/S985xE0zTqXFFwk1FXDrHl3Y/xRhRbNbpJ8BwElVFjtZkERxl1J1E3iyNuCWmZvHcj3pOIEkNhLXVnFukX1VFeMupO4ri2Fcccds63h+JERgEnGX1drVZfEdPNTUbdG+ZZjSTCRa1UfoPTg72MkpFjUKrAh4il2OQmox1IvKF2Cr3Sy8/IULCWUYnI6KqBH6uucZXRDtWxC6sj/rmGX1UJeaz4NnMZxe1hs4Ifw/2Tn4y6kzjZ3YEkbsuExAUisUNlVPKcBG3FREZNEh+Q3eQmo+4kTne3m3PClFHvDUWDjK5X8WMTi1hGo76TIH4iLuA+8WYn7pBRVtOoUiGC8Ro1iipZdRtg0m8SxZVPOA/K5VLpDTFZ8Wm2Mhqt/EbE46VgqNRvcpNRVxLQbUtYOofO9z5+ph7rE5FR70mYMlppNpn8ZNQdRGy6bA9f9KuPfGTUGS95yag7CWgotpoGD/YyWl1sJsFNRjvkBJbRRhLsZJSuSFvn8rXqBh/x6EACy6i1sSILG3YySudyMo2u20BmqhHfSSzv0i1mfGvHzIoa62kUy6hgTHywUBjqpN8kiitkjRnfuaxJNCmojGpMZXStKphTKYxKepKLjIaG3VnkpuNUO4XajvklIxkFZisexLvtqn0hnpCe5CIeiSNXFqaMxs9rpcstrKWmjDKYy0krFvB6e/GVY3kFTSYfGU0kFp62ZzF2VtsibuJ8D6bE3sVO3AcZRYMHr/V2InH4bLgNjLGT3c/x+M7HW3xW9FO5dOmHjK4bG9xIIBgDR62JEatDGf18WbpECyu0sYFOi5eMNrhtPh3TYpE4fNHUMbCMbpeFEp5Jdy7fICmhMspgvd0wjTqKA0xO8gRBYCw8c8LAMrr1pnwJawSdMEfeOy7R946ZjL5uSgljLsnvqrNmGBaNlWnIYBsSmL68IEaTtYySa5adXluY5FscThiHR+9IasSkMtWOslAmzpuTjJqxWC3MTvqREhaMgYUXT0PDMSyjaAStCTVyGoivjC4a2SfJSf9AmDQOj/5VoyuavRI9M8hMRgEQWmR0tVqYSzprQxR5XtzvCPHqi/OEYJzJNApAw7WtmkFnr5kPkpG9skFACMn52fnHvsAQ57/Y19TEh24xC/NiKw8ICG0u70UXWy2ufXi5VDWy+1MWCFGc2kgXstlsQZ71A0Xyi31RDZRTdKI0DsAD19s2gnBzoKsaBVCtQgpZdWM+aTVLcV4rjAJ1RNNUUNjwIS3Gv15YJJB+wAx5gIwSBCOa+/0eo6PpdDat7m88uZpKJi2TLT4KF4CqUFpSOjw7zhuGCMoWiVtou3fuN41SBB1uebERzM5PJpOPHz96ZDdKcbYwqkaj8AdlDb4LEWk0W9ifHeAKQwwTGSX6ubeNzxKXqQXqEUHnW14IAnl/zkIw3uyjxI0C0DSBPB+Q4PsQlQUIY2OeIwxxrmYvdcmuP35LZfS+CNAtLyqgCLT9uavZKRcENMJpSZFs7gBrl4JgZDemeMEQZ7+cN6+3O8toRwQj6DJ3RCCbVjCCZEcEOMZlWBn0f64SIPSaadizIYy5KT4sxr9KTSRcZBS4I6BX+o8SBFELwaPOCOgLUEdVM/3gjBaVJQsFeStGs+m5SQ4wxP1ayzmPUoOMAssZNRNoRADCUBAsBD2/AJgRdvaZT4vHVrtRjRbAkyRzGJMtSWFfs+yGoKEbZiWEoFUQegoxDEEglYKdhY5o+NilcKOMg9GC+oSx+xQ3yk3XIlrnRrtoYlZ9AALzydMqLkMQCUc1AT0tEW+01WnqUyBdGLliCwPUGpsmlFGlM4KRfRtBD63ANaCPQAUh0cagSHZ30tqpOIShXD1iBkN8XIAonFf03zpu/SEIHJrobgvu/szJr3ijB+g6KyxFFVUmvkJ2WZpBGOwMqJhMl+27XfClJap5JyxGkM2OKj3YgruHanVGDReijNdaiozVw3UWhjD2GcEQx8MF6w6ooa3P22XJtAXARtCTJt7paefSuChwGcCpQwOySjoTKpeOFhfBYGNAxVn1S618sbf3abpcq5WRIEQ3mCGgzzn5laxuqJsAEEMUqwdqmiPdNsrIgCIYXu92RHFqTi18+UI10ULg6ZM0PeUI7Q60DnDLwPMo0hKl26JIRW48vbG/Pwd5ePvCRHF8ch51Q9YI6PNdZc0bEYlxkEinEGQFucxukzCiqMiwi8E2Bhh8XgHHMXg8DSzHhlemWK9wy0AnBLrtici1DWElCuUGfH3i0/bTixCfpGVLqnFSIPmwbGXXfbIatkMRCgFGMZ4FDgc7QuWDNgcQ7aU4sNnB82BU+DoVVBQwJRpu3B4hHtsEgfpFZxIoFVQ0HOqShnJp1O8junekQeNQY69qkJqipVVHFnBsw7+gC79LOpxX5PRVMJNCnM3K4aZQ8G3skmz20U4wgELKR//9+fPnv+uwVkDW72O6X4jKaOu2w/zcq3BEVlU5Qny3CwzqQPPfIInneVhPctaXsyQPjmRBbQOiwV5Q2wU9QxsYcCY8OICP688JCeg/RqNBJNHcLxsiavdNs2xaYMgHP//yy88VkhPfEAlN/fooAcPvQ7tjiDJoWQJZYdlsRydpgiGpf/wDxh9AkL49/6bjh7TM6dNnRwuHA4Hi8bhTcdjH29BCnDDkg38jEn8ewE6R12kP1Y/HQsMwQu9eLBwGBAdUDvficJxmafpGRFPpySHl4E9E4i9yN1mlWq3Ax4BgfR4twTHQ/zTEjbbK0VwdbfImomEXAVsJBPHLAQHx+qef/mPA4XWl4Wo6iOPpM5wcfh9uhxBV1zYBzbM5e4CWZSr5CU2SIwBU/vrrgAL7CcZmRZFzy7FQU0AaODf8PmK3GC9IbQ8ShiSHqdMGLdYLJwVBCH+iAkujVIL/foVI/NeIwpbZQoLQeHd02Kcw3N0ENA8Kdt74PHFL4K6JCOEKAur3TwAXByyPSljJ19uSoKnB8fN6ew5xqtVq0yMFet6lKMi3MQCJfqX+E0ZJMP6LUmIEkjgZcyGBaXD8EOdeQ5x3kY4IyJ2e5OBwjkewlvNO5o4X1Y0ES+M7InEBBGNpyUBnjvI3bjlBwu/jbg1XEZUyJ8XiqZTRgQCTQydI7LBuQwLYiFok0OCGrrnQzzrlRJBIqPmzYioUStWPpwXprH4jZHTriiP8fYtEFJ+0vSDVIdCrfyMBJDGVHWkHQr9OpYowweGfqWIxlUqdHusQhmzCkJ0kwlGpdPH9O9l7kgWWfhaw6kgM/C/bRjtU/T1EgF8yopAiMOrH+YwuEBjWkpNqsCKVSmijQRMsaDmRGHgRGs41G2kEYhoeuPOFwzeYwDjLIBhR66phW10iiuMat2igcoLcezR2pje57aiUv24CQaOIagXC0KE6RLDVBi4zS1Q/DgyJxOE7cgfBaabRUCggc9wehAXjOI8qSlNV2W1kUQKjoiYHFDpwHE9EBbmToisICuN9Xu0wtmESJ4EggerCek2x5RXBPKyIDPLTbzuDwDCuM1BTFUVzG+i1jKvb7iMSiYFnDXegjdVX4GFFI1FNBfk8Sohi56NADfRERx98DlxnlszbvieRSBw135Y4VofqCCOfkU5S7i2iIYqp05PjY91lZgmruVS/k0j82u4mZmgVzq6PT1BdUBvRPeBPvs24kQB6l7zyncOhyw3MyDthD9UrhxAyGK4koJ3o8ss+c2hqEA2HRZxk7xxC6L7OnEufgCLazyQSC50+6SBG//GEhJyp9y8J18J4SKy4kBBy3dqujyBaFMODiLWZWUibuO5WZ75xYJEQUH6nQVsSGnQl/UmCSUIgEi3TGwkpt9ztV/3hMMAkIULok6fy7Va+Uf19V3fmC4gFNhgQifaGQs7Xu/p1P0C4e4iHkyi2FQ+Q6W7Q+HM47OQhHo5iWm89lajpN91HF+4gfmXJwaVRgNxy1+LgTYJlZRASqVaXKed7SAm+JNhphh1j0y1bUJBf7jMSsEWwj9hppikppEy9lwUHTxCMWwSNmN6YFDI02v1FIvGCCwhoKXLO6y80oPe28+IH4h0fELBTkJU/iRGQedvbsocbCfa90o73Or1jLKLqEERPKcGJBJdeaUUs9D4DZEVR0BmC5R5B8CHBFwRCcYP+fsN8Jn/S42I8xIdEYoFjZeCIFZfrN8c39V7PEKD4W4IImZcW3GUzzgEEHxvREnc5U4LibwsC/XWgd/px5iAYrem8jx8gzGAMwrfSuHv8AGEGUxB+yOe94wcIMxiCOAwUCIYkOM8aDw52JPw+srsGKw6Jp34f2V2DFYh3fh/YnYMRCNanNRgEGxDB8dh2MAERMP0kwYJE4GQDBwMOwZMNHAxABLBbovAeRJDmT2d4TiKQ3RKF1yASfh/QvcNrEAFtEiGvSQS2SYS8JhG0SdwZnoIIqJMg4SmIII4bVnhJIrACisNDEIGuDS9JBLs2vCQR7NrwkETAayMU+j8EXqKmXUyKvAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 1000px;
    height: 500px;
}
#presentacion_pag p{
    font-size: 24px;
    padding: 20px;
    color: gold;
}
#foros{
    background-color: white;
    width: 1000px;
}

footer p{
    color: white;
}

.pie_pagina{
    background: white;
    list-style: none;
    padding: 0;
    width: 1000px;
}
.pie_pagina li{
    display: inline-block;
}
.pie_pagina li a{
    color: black;
    text-decoration: none;
    float: right;
    padding: 20px;
}
.pie_pagina li a:hover{
    color: rgb(0, 255, 0);
    text-decoration-line: underline;
}